/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --heading-color: #db00ff;
  --accent-color: #ff0070;
  --title-color: #000028;
  --base-color: #f1b2ce;
  --section-title-color: #ff0070;
  --decor-color:  #ff0070;
  --hover-color: #ff007066;
}