:root.theme-light {
  --bg-image: url('../images/cover-image-light.png');
  --bg-color: #ffc2e6;
  --heading-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --title-color: #353430;
  --base-color: #353430;
  --section-title-color: #353430;
  --decor-color: #353430;
  --hover-color: #32312d66;
}

@media (prefers-color-scheme: light) {
  .theme-auto {
    --bg-image: url('../images/cover-image-light.png');
    --bg-color: #ffc2e6;
    --heading-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --title-color: #353430;
    --base-color: #353430;
    --section-title-color: #353430;
    --decor-color: #353430;
    --hover-color: #32312d66;
  }

  .theme-auto .header__decoration {
    display: none;
  }
}