:root.theme-light {
  --bg-image: url('../images/cover-image-light.png');
  --bg-color: #ffc2e6;
  --heading-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --title-color: #353430;
  --base-color:  #353430;
  --hover-color: #32312d66;
}
.theme-light .header__theme-menu-button {
  color: var(--base-color);
 }

.theme-light .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--base-color);
}
.theme-light .header::before,
.theme-light .footer::before {
  border-inline-end-color: var(--base-color);
  border-block-start-color: var(--base-color);
}

.theme-light .header::after,
.theme-light .footer::after {
  border-inline-start-color: var(--base-color);
  border-block-end-color: var(--base-color);
}
.theme-light .section__title {
  color: var(--base-color);
}