/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  display: grid;
  gap: 40px;
  inline-size: min(375px, 100% - 20px);
  color: var(--base-color, #f1b2ce);
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: var(--bg-color, #000028);
  background-image: var(--background-image-dark);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 75px auto 65px auto 50px auto 66px;
  padding-inline: 10px 10px;
  /*  block-size: 100vh;*/
  min-block-size: 668px;
}

.header__theme-menu {
  grid-row: 2;
  justify-self: end;
  align-self: end;
}

.header__theme-menu-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.header__theme-menu-item {
  color: var(--accent-color, #ff0070);
  text-align: center;
}

.header__theme-menu-button {
  border: none;
  padding-block: 1.5px;
  padding-inline: 13px;
  text-transform: lowercase;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.header__theme-menu-button_type_dark {
  outline: 1px solid var(--accent-color, #ff0070);
}

.header__heading {
  grid-row: 4;
  justify-self: start;
  align-self: center;
  color: var(--heading-color, #db00ff);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  text-transform: lowercase;
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

.header__description {
  grid-row: 6;
  justify-self: end;
  align-self: start;
  font-weight: 700;
  line-height: 1.3;
}

.title-decor {
  color: var(--title-color, #000028);
  background-color: var(--accent-color, #ff0070);
}

/*REC*/
.header__decoration {
  position: absolute;
  top: 10px;
  right: 38px;
  color: var(--accent-color, #ff0070);
  line-height: calc(25 / 18);
  /* Место для точки */
  text-transform: uppercase;
}

.header__decoration::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -18px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 4px currentColor;
  background-color: var(--accent-color, #ff0070);
}

/*corners*/
.header::before,
.footer::before {
  content: "";
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 10px;
  width: 25px;
  height: 25px;
  border-block-start: 1px solid var(--accent-color, #ff0070);
  border-inline-end: 1px solid var(--accent-color, #ff0070);
}

.header::after,
.footer::after {
  content: "";
  position: absolute;
  inset-block-end: 10px;
  inset-inline-start: 10px;
  width: 25px;
  height: 25px;
  border-block-end: 1px solid var(--accent-color, #ff0070);
  border-inline-start: 1px solid var(--accent-color, #ff0070);
}

/*sections*/
.main {
  display: grid;
  gap: 50px;
  line-height: 1.3;
  padding-inline: 10px 10px;
}

.section {
  display: grid;
  gap: 20px;
}

.section__title {
  color: var(--accent-color, #ff0070);
  font-weight: 700;
  font-size: 18px;
}

.section__content {
  display: grid;
  gap: 20px;
}

/*card*/
.card__title {
  margin-block-end: 10px;
  font-weight: 700;
}

.card__description {
  text-wrap: balance; 
}

.card__link {
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

.card__link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.card__link:focus {
  outline: none;
}

.card__link:focus-visible {
  outline: 1px solid currentColor;
}

/**/
.title-special {
  font-weight: 400;
}

.how__subtitle {
  font-weight: 700;
  font-size: 18px;
}

/*gallery*/
.gallery {
  display: grid;
  gap: 10px;
}

.gallery__title {
  font-weight: 700;
  font-size: 18px;
}

.gallery__images {
  display: grid;
  gap: 10px;
}

.gallery__image {
  inline-size: 100%;
}

/*footer*/

.footer {
  position: relative;
  display: grid;
  padding-inline: 10px 10px;
  /*  block-size: 100vh;*/
  min-block-size: 668px;
}

.footer__title {
  place-self: center;
  color: var(--heading-color, #db00ff);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  text-transform: lowercase;
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}


@media (width >=768px) {
  .page {
    gap: 60px;
    inline-size: min(768px, 100% - 40px);
  }

  .header {
    grid-template-rows: 192px auto 173px auto 162px auto 183px;
    min-block-size: 1024px;
    padding-inline: 20px 20px;
  }

  .header__heading {
    margin-left: -20px;
   font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem); 
  }

  .header__description {
    inline-size: 364px;
    align-self: end;
  }

  .header__decoration {
    top: 20px;
    right: 48px;
  }

  .header::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .header::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .main {
    gap: 80px;
    padding-inline: 20px 20px;
  }

  .why,
  .how {
    grid-template-columns: 236px auto;
  }

  .what__title {
    inline-size: 236px;
  }

  .gallery {
    gap: 20px;
  }

  .gallery__images {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 20px;
    block-size: 780px;
  }

  .gallery__image {
    block-size: 100%;
    object-fit: cover;
  }

  .img_sunset {
    grid-area: 1 / 1 / 2 / 3;
  }

  .img_ice {
    grid-area: 1 / 3 / 3 / 4;
  }

  .img_tape {
    grid-area: 2 / 1 / 4 / 2;
  }

  .img_books {
    grid-area: 2 / 2 / 3 / 3;
  }

  .img_street {
    grid-area: 3 / 2 / 4 / 4;
  }
  .footer {
    min-block-size: 1024px;
    padding-inline: 20px 20px;
  }
  
  .footer::before {
    top: 20px;
    right: 20px;
  }

  .footer::after {
    bottom: 20px;
    left: 20px;
  }
}

@media (width >=1024px) {
  .page {
    inline-size: min(1024px, 100% - 40px);
  }

  .header {
    grid-template-rows: 20px auto 273px auto 114px auto 134px;
    min-block-size: 768px;
  }
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .header__description {
    inline-size: 491px;
  }

  .why,
  .how {
    grid-template-columns: 315px auto;
  }

  .what__title {
    inline-size: 315px;
  }
  .what__content {
    grid-template-columns: repeat(3, 1fr);
  }
  .gallery__images {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 20px;
    block-size: 1048px;
  }

  .footer {
    min-block-size: 768px;
  }
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem); 
  }

}