/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  display: grid;
  gap: var(--page-grid-gap);
  color: var(--base-color, #f1b2ce);
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: var(--bg-color, #000028);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  inline-size: min(375px, 100% - 20px);
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 75px auto 65px auto 50px auto 66px;
  padding-inline: var(--page-padding) var(--page-padding);
  /*block-size: 100vh;*/
  min-block-size: 668px;
}

.header__theme-menu {
  grid-row: 2;
  place-self: end;
}

.header__theme-menu-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding-inline: 13px;
  padding-block: 1.5px;
  color: var(--accent-color, #ff0070);
  text-transform: lowercase;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.header__theme-menu-button_active {
  border-color: currentColor;
  /* Граница совпадает с цветом текста */
  cursor: default;
  /* Меняем курсор на стандартный */
  pointer-events: none;
  /* Блокируем клики */
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-color: transparent;
  /* Убираем общую границу */
}

/* Нижняя граница при фокусе */
.header__theme-menu-button:focus-visible::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  /* Цвет совпадает с текстом */
}

.header__title {
  grid-row: 4;
  place-self: center start;
  color: var(--heading-color, #db00ff);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  text-transform: lowercase;
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

.header__description {
  grid-row: 6;
  place-self: start;
  font-weight: 700;
  line-height: 1.3;
}

.title-decor {
  color: var(--title-color, #000028);
  background-color: var(--accent-color, #ff0070);
}

/*REC*/
.header__decoration {
  position: absolute;
  inset: 10px 38px auto auto;
  display: block;
  color: var(--accent-color, #ff0070);
  line-height: calc(25 / 18);
  text-transform: uppercase;
}

.theme-light .header__decoration {
  display: none;
}

.header__decoration::after {
  content: "";
  position: absolute;
  inset: 8px -18px auto auto;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 4px currentColor;
  background-color: var(--accent-color, #ff0070);
}

/*corners*/
.header::before,
.footer::before {
  content: "";
  position: absolute;
  inset: var(--page-padding) var(--page-padding) auto auto;
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--accent-color, #ff0070);
  border-block-start: 1px solid var(--accent-color, #ff0070);
}

.header::after,
.footer::after {
  content: "";
  position: absolute;
  inset: auto auto var(--page-padding) var(--page-padding);
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--accent-color, #ff0070);
  border-block-end: 1px solid var(--accent-color, #ff0070);
}

/*sections*/
.main {
  display: grid;
  gap: var(--main-grid-gap);
  padding-inline: var(--page-padding) var(--page-padding);
  line-height: 1.3;
}

.section {
  display: grid;
  gap: var(--section-grid-gap);
}

.section__title {
  color: var(--accent-color, #ff0070);
  font-weight: 700;
  font-size: 18px;
}

.section__content {
  display: grid;
  gap: var(--section-grid-gap);
}

/*card*/
.card__title {
  margin-block-end: 10px;
  font-weight: 700;
}

.card__description {
  text-wrap: balance;
}

.card__link {
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

.card__link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.card__link:focus {
  outline: none;
}

.card__link:focus-visible {
  outline: 1px solid currentColor;
}

/**/
.title-special {
  font-weight: 400;
}

.how__subtitle {
  font-weight: 700;
  font-size: 18px;
}

/*gallery*/
.gallery {
  display: grid;
  gap: var(--gallery-grid-gap);
}

.gallery__title {
  font-weight: 700;
  font-size: 18px;
}

.gallery__images {
  display: grid;
  gap: var(--gallery-grid-gap);
}

.gallery__image {
  inline-size: 100%;
}

/*footer*/

.footer {
  position: relative;
  display: grid;
  padding-inline: var(--page-padding) var(--page-padding);
  /*  block-size: 100vh;*/
  min-block-size: 668px;
}

.footer__title {
  place-self: center;
  color: var(--heading-color, #db00ff);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  text-transform: lowercase;
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

@media (width >=768px) {
  :root {
    --page-padding: 20px;
    --page-grid-gap: 60px;
    --main-grid-gap: 80px;
    --gallery-grid-gap: 20px;
  }

  .page {
    inline-size: min(768px, 100% - 40px);
  }

  .header {
    grid-template-rows: 192px auto 173px auto 162px auto 183px;
    padding-inline: var(--page-padding) var(--page-padding);
    min-block-size: 1024px;
  }

  .header__title {
    margin-left: calc(-1 * var(--page-padding));
  }

  .header__description {
    place-self: end;
    inline-size: 364px;
  }

  .header__decoration {
    top: 20px;
    right: 48px;
  }

  .main {
    padding-inline: var(--page-padding) var(--page-padding);
  }

  .why,
  .how {
    grid-template-columns: 1fr 2fr;
  }

  .what__title {
    inline-size: 236px;
  }

  .gallery__images {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    block-size: 780px;
  }

  .gallery__image {
    object-fit: cover;
    block-size: 100%;
  }

  .img_sunset {
    grid-area: 1 / 1 / 2 / 3;
  }

  .img_ice {
    grid-area: 1 / 3 / 3 / 4;
  }

  .img_tape {
    grid-area: 2 / 1 / 4 / 2;
  }

  .img_books {
    grid-area: 2 / 2 / 3 / 3;
  }

  .img_street {
    grid-area: 3 / 2 / 4 / 4;
  }

  .footer {
    padding-inline: var(--page-padding) var(--page-padding);
    min-block-size: 1024px;
  }
}

@media (width >=1024px) {
  .page {
    inline-size: min(1024px, 100% - 40px);
  }

  .header {
    grid-template-rows: 20px auto 273px auto 114px auto 134px;
    min-block-size: 768px;
  }

  .header__theme-menu {
    place-self: start center;
  }

  .header__theme-menu-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .header__title,
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__description {
    inline-size: 491px;
  }

  .why,
  .how {
    grid-template-columns: 1fr 2.06fr;
  }

  .what__title {
    inline-size: 315px;
  }

  .what__content {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery__images {
    block-size: 1048px;
  }

  .footer {
    min-block-size: 768px;
  }
}

@media (prefers-color-scheme: light) {
  .theme-auto {
    --bg-image: url("../images/cover-image-light.png");
    --bg-color: #ffc2e6;
    --heading-color: #ff8dcb;
    --accent-color: #ff8dcb;
    --title-color: #353430;
    --base-color: #353430;
  }

  .theme-auto .header__decoration {
    display: none;
  }
}