:root {
  --bg-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --heading-color: #db00ff;
  --accent-color: #ff0070;
  --title-color: #000028;
  --base-color: #f1b2ce;
  --section-title-color: #ff0070;
  --decor-color:  #ff0070;
  --hover-color: #ff007066;
  --page-padding: 10px;
  --page-grid-gap: 40px;
  --main-grid-gap: 50px;
  --section-grid-gap: 20px;
  --gallery-grid-gap: 10px;
}
