/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-image-light: url('../images/cover-image-light.png');
  --background-image-dark: url('../images/cover-image-dark.png');
  --bg-color: #000028;
 /* --bg-color-light: #ffc2e6;*/
  --heading-color: #db00ff;
  /*--heading-color-light: #ff8dcb;*/
  --accent-color: #ff0070;
  /*--accent-color-light: #ff8dcb;*/
  --title-color: #000028;
  /*--title-color-light: #353430;*/
  --base-color: #f1b2ce;
  /*--base-color-light: #353430;*/
}
